.card-list {
  background: white;
  border: 1px solid black;
}

.card-list td, .card-list tr, .card-list th{
  border: 1px solid black;
}

.tableheaders {
  display: flex;
}


.profile-selectors .global {
  background-color: #1e57a4;
  border-radius: 10px;
  border: 0px;
}
