.country-page-container {
    padding-top: 6em;
}

.country-profile {
    background: #f7f7fa;
    min-height: 100vh;
}

body {
    background: white;
}

.country-header {
    border-radius: 10px;
    background: linear-gradient(180deg, #1d2733 50%,  white 50%);

}

.passport-photo {
    padding: 2em;
}

.country-header .info {
    padding: 2em 0em;
}

.section-container {
    border-radius: 20px;
    background: white;
    padding: 1em;
    margin: 1em 0px;
}

.section-container h2 {
    color: #526f83;
    font-weight: 500;
}

.mega-section-container {
    justify-content: space-between;
}

.mega-section-container > div {
    width: 45%;
}

.passport-photo-inner-container {
    height: 10em;
    width: 10em;
    border-radius: 90%;
}

.passport-photo-inner-container img {
    height: 10em;
    width: 10em;
    max-width: 100%;
    max-height: 100%;
    border-radius: 180%;
}


#global-rank-string {
    color: #4a596f;
    margin-right: 1em;
    font-size: 1.2em;

}

.country-header .global-rank {
    align-items: center;
}
.country-name {
    font-size: 2em;
    font-weight: 600;
    margin: 0.25em 0px;
}

.info .row {
    height: 50%;
}

.combinedScoresString {
    color: #4a596f;
}


.country-table, .visa-requirements-table {
    width: 100%;
    color: #515f74;
    text-align: center;
}


.visa-requirements-table th {
    background-color: #f5f5f5;
    border-top: 1px solid #e1e6f1;
    border-bottom: 1px solid #e1e6f1;
    border-left: 0px;
    border-right: 0px;
    width: 50%;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 400;
}


.country-table {
    width: 100%;
}
.country-table-header {
    background-color: #f5f5f5;
    border-top: 1px solid #e1e6f1;
    border-bottom: 1px solid #e1e6f1;
    width: 100%;
}

.country-table > div {
    min-width: 10%;
    padding: 1em;
    margin: 3em;
}

.country-table .visa-free-access-to-th {
    width: 50%;
}
