.selectYourPassport {
    width: 100%;
    background: #222c39;
    border-radius: 10px;
    margin-bottom: 0.5em;
    height: 3em;
    display: flex;
    align-items: center;

}
/*
.passport-select-container > div {
    max-width: 300px;
    background: #222c39;
    color: white;
    border: 0px;
    margin-left: 1em;
    height: 2em;
} */

.close-button a {
    margin-left: 0.5em;
    color: white;
    text-decoration: none;
}

.SelectYourPassport-Left {
    width: 70%;
    padding-right: 2em;
    align-items: center;
}



.SelectYourPassport-Left .country {
    width: 40%;
    padding-left: 2em;
    height: 1em;
}

.SelectYourPassport-Left .country p {
    display: flex;
    align-items: center;
}

.SelectYourPassport-Left .country img {
    height: 1em;
}