.App {
  text-align: center;
  width: 1080px;
  max-width: 90%;
  margin: 0 auto;

}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}

.tables-container {
  display: flex;
}

.header-container {
  display: flex;
}

.profile-selectors {
  display: flex;
}

.profile-selector {
  color: white;
  height: 28px;
  padding: 10px; 
  border: 1px solid white;
  vertical-align: center;
  display: flex;
  align-items: center;
}
