.App {
  
  color: white;
  background-color: #1d2733;

}
.container {
  
  width: 1080px;
  max-width: 90%;
  margin: 0 auto;
  
}
.App p {
  color: white;
}

.tables-container table p {
  color: grey;
}

h1 {
  font-family: 'Bigelow Rules';
  
  color: white;
}

.tables-container {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.profile-selectors {
  display: flex;
}

.profile-selector {
  color: white;
  height: 28px;
  padding: 10px; 
  border: 1px solid white;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.global-passport-scores {
  width: 50%;
}
.living-scores {
  width: 50%;
}
.global-passport-scores .card-list, .living-scores .card-list {
  width: 100%;
}

.close {
  color: white;
  text-align: right;
  text-decoration: none;
  float: right;
}

.table-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-header-text > p {
  width: 100%;
}

.profile-selectors a{
  text-decoration: none;
}


.freespace {
  height: 1px;
}



#header {

  display: flex;
  background:#1d2733;
  width: 100%;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  z-index: 2;
}

#header .hamburger a {
  color: white;
  text-decoration: none;
  margin: 0px 1em;
  font-size: 1.5em;
}

#header .left {
  display: flex;
  align-items: center;
}

#header .menu {
  margin: 0px 1em;
}


#header li {
  list-style: none;
}

#sidebar {
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 1;
  background: #1a222e;
}

#sidebar ul {
  margin-left: 1em 1em;
  padding-left: 0px;
  
}

#sidebar li {
  list-style: none;
  margin: 1em;
}