.App {
  text-align: center;
  width: 1080px;
  max-width: 90%;
  margin: 0 auto;

}

.App p {
  color: white;
}

.tables-container table p {
  color: grey;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}

.tables-container {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.profile-selectors {
  display: flex;
}

.profile-selector {
  color: white;
  height: 28px;
  padding: 10px; 
  border: 1px solid white;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.global-passport-scores {
  width: 50%;
}
.living-scores {
  width: 50%;
}
.global-passport-scores .card-list, .living-scores .card-list {
  width: 100%;
}

.close {
  color: white;
  text-align: right;
  text-decoration: none;
  float: right;
}

.table-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-header-text > p {
  width: 100%;
}

.profile-selectors a{
  text-decoration: none;
}


.freespace {
  height: 1px;
}
