body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1080px;
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.header a  {
  text-transform: uppercase;
  color: grey;
  text-decoration: none;
}