.investment-grade-container {
    justify-content: center;
}

.investment-grade-container p {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 30px;
}

.investment-grade-value-A p {
    background: rgb(22, 159, 73); 
}

.investment-grade-value-B p {
    background: rgb(122, 212, 62); 
}

.investment-grade-value-C p {
    background: rgb(251, 184, 49);  
}

.investment-grade-value-D p {
    background: rgb(243, 130, 49); 
}

.investment-grade-value-E p {
    background: rgb(194, 26, 36); 
}